@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    KC_Housing_price input = (KC_Housing_price)ViewData["Input"];
    double output = Convert.ToDouble(ViewData["Message"]);
    string finalPrice = output.ToString("C2");
}

<h2 class="mt-3">Predict King County Housing Prices</h2>

<form-group class="container">
    <form method="post" action="/DecisionTree/RetrieveOutcome" id="form">
        <fieldset>
            <label for="bedrooms">Number of bedrooms</label>
            <input type="number" name="bedrooms" class="form-control" value=@input.bedrooms />
        </fieldset>
        <fieldset>
            <label for="bathrooms">Number of Bathrooms</label>
            <input type="number" name="bathrooms" class="form-control" value=@input.bathrooms step=".01" />
            <small>Allocate 0.5 for a room with a toilet but no shower</small>
        </fieldset>
        <fieldset>
            <label for="sqft_living">Square-foot of the apartments interior living space</label>
            <input type="number" name="sqft_living" class="form-control" value=@input.sqft_living />
        </fieldset>
        <fieldset>
            <label for="sqft_lot">Square-foot of land space</label>
            <input type="number" name="sqft_lot" class="form-control" value=@input.sqft_lot />
        </fieldset>
        <fieldset>
            <label for="floors">Floors</label>
            <input type="number" name="floors" class="form-control" value=@input.floors />
        </fieldset>
        <fieldset>
            <label for="waterfront">Waterfront</label>
            <input type="number" name="latitude" class="form-control" value=@input.waterfront min="0" max="1" />
            <small>Allocate 0 if house is not facing a Waterfront and 1 if it is.</small>
        </fieldset>
        <fieldset>
            <label for="view">View of Property</label>
            <br />
            <input type="range" name="view" value="@input.view" min="0" max="4" />
            <br />
            <small>Increasing from left to right</small>
        </fieldset>
        <fieldset>
            <label for="condition">Condition</label>
            <br />
            <input type="range" name="condition" value="@input.condition" min="1" max="5" />
            <br />
            <small>Increasing from left to right</small>
        </fieldset>
        <fieldset>
            <label for="grade">Grade</label>
            <br />
            <input type="range" name="grade" value="@input.grade" min="1" max="13" />
            <br />
            <small>Increasing from left to right</small>
        </fieldset>
        <fieldset>
            <label for="sqft_above">Square-foot of the interior housing space that is above ground level</label>
            <input type="number" name="sqft_above" class="form-control" value="@input.sqft_above" />
        </fieldset>
        <fieldset>
            <label for="sqft_basement">Square-foot of the interior housing space that is below ground level</label>
            <input type="number" name="sqft_basement" class="form-control" value="@input.sqft_basement" />
        </fieldset>
        <fieldset>
            <label for="year_built">Year Built</label>
            <input type="number" name="year_built" class="form-control" value="@input.year_built" />
        </fieldset>
        <fieldset>
            <label for="yr_renovated">Year Renovated</label>
            <input type="number" name="yr_renovated" class="form-control" value="@input.yr_renovated" />
        </fieldset>
        <fieldset>
            <label for="zip_code">Zip-code</label>
            <input type="number" name="zip_code" class="form-control" value="@input.zip_code" />
        </fieldset>
        <fieldset>
            <label for="lat">Latitude</label>
            <input type="number" name="lat" class="form-control" value="@input.lat" step="0.0001"/>
        </fieldset>
        <fieldset>
            <label for="longi">Longitude</label>
            <input type="number" name="longi" class="form-control" value="@input.longi" step="0.0001"/>
        </fieldset>
        <fieldset>
            <label for="sqft_living15">Square-foot of interior housing living space for the nearest 15 neighbors</label>
            <input type="number" name="sqft_living15" class="form-control" value="@input.sqft_living15" />
        </fieldset>
        <fieldset>
            <label for="sqft_lot15">Square-foot of the land lots of the nearest 15 neighbors</label>
            <input type="number" name="sqft_lot15" class="form-control" value="@input.sqft_lot15" />
        </fieldset>
        <br />
        <fieldset>
            <input type="submit" class="btn btn-success" id="submitBtn" value="Submit" style="float:right" />
        </fieldset>
    </form>
</form-group>
<br />
<br />
@{
    if (output != default)
    {
        <div class="container">
            <h2>Predicted Price</h2>
            <fieldset>
                <input type="text" name="outcome" value=@finalPrice class="form-control" />
            </fieldset>
        </div>
    }
}